#view1 {
    height: 200px;
    /* background-color: blue; */
}

.avatar-view {
    float: left;
    margin-left: 10px;
    margin-top: 16px;
}

.info-view {
    float: left;
    margin-left: 30px;
    margin-top: 16px;
}

#view2 {
    height: 300px;
    /* background-color: yellowgreen; */
}

#view3 {
    height: 400px;
    /* background-color: yellow; */
}

#view3 > h3 {
    margin-left: 5px;
}

#view4 {
    height: 300px;
    /* background-color: green; */
}

#view5 {
    height: 600px;
    background-color: white;
}

#view6 {
    height: 600px;
    /* background-color: blueviolet; */
}